*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table { 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
} 
  
input[type="button"] { 
    width: 100%; 
    padding: 19px 20px; 
    background-color: rgb(43, 0, 128); 
    color: black; 
    font-size: 24px; 
    font-weight:bold ; 
    border:0dvb ; 
    border-radius: 5px; 
} 
  
input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black;
}
body{
    background-color: blueviolet;
}